.desktop-header ul
{
   display:flex;
   list-style-type:none;
   padding:0;
}

/* om de laatste li geen padding te geven */
.desktop-header li:not(:last-child)
{
    padding-right:10px;
}

.mobile-header
{
    display:none;
}



.promo-video
{
    width:30%;
    height:auto;
}


.container
{
    display:flex;

}
.products
{
    width:66%;
    display:flex;
    flex-direction:column;
    
}


.product > article
{
    float:left;
    width:40%;
}

.product > figure
{
    float:right;
}


.product img
{
    width:50%;
}


.right-bar
{
    position:fixed;
    right:0;
    top:200px;
    margin: 20px;

    
}


/* grid container for product page */
.grid-container
{
    display:grid;
    grid-template-areas:
    'item-2 item-1 item-3'
    'item-5 item-1 item-4'
    'item-5 item-6 item-6';
    
}

.grid-container > *
{
    border: 1px solid black;
}

.grid-container .item-1
{
    grid-area: item-1;
}

.grid-container .item-2
{
    grid-area: item-2;
}

.grid-container .item-3
{
    grid-area: item-3;
}

.grid-container .item-4
{
    grid-area: item-4;
}

.grid-container .item-5
{
    grid-area: item-5;
}

.grid-container .item-6
{
    grid-area: item-6;
}

/* grid container end */

.product-aside
{
    display:grid;
    grid-template-columns: 33% 33% auto;
    justify-content: space-evenly;
}

.product-aside img
{
    width:50%;
    height:auto;
}

.pricing-container .inner-container
{
    display:flex;
}

.left-container
{
    width:66%;
}

.right-container
{
    display:flex;
    flex-direction: column;
    width:34%;
}

.right-container img
{
    width:100%;
    height:auto;
}

.contact-form
{
    display:flex;
}

.contact-form ul
{
    padding:0;
    list-style:none;
}

.contact-form li
{
    padding-top: 10px;
}


.cookie-statement
{
    color:#fff;
    background-color:#FA0;
    opacity: 50%;
    
    position:fixed;
    bottom: 0px;
    right: 0px;

}

.mobile-list
{
    display: none;
}

@media only screen and (min-width: 481px) and (max-width: 1279px)
{
    .right-bar > aside, .grid-container .item-4, .pricing-container .right-container a:last-child
    {
        display:none;
    }

    .products
    {
        width:100%;
        flex-direction: column-reverse;
    }
    

    .mobile-list
    {
        display: block;
        
    }

    
    .product > article
    {
        float:right;
        width:40%;
    }

    .product > figure
    {
        float:left;
    }

    .product figure
    {
        width:40%;
    }

    .grid-container
    {
        grid-template-areas:
        'item-1 item-2'
        'item-1 item-2'
        'item-3 item-2'
        'item-3 item-5'
        'item-3 item-5'
        'item-3 item-5'
        'item-6 item-6'
        'item-6 item-6';
        
        /* fr = fractional unit, hij pakt 1 kolom dus */
        grid-auto-rows: 1fr;
    }

    .product-aside
    {
        grid-template-columns: auto auto;
        justify-items: center;
    }

    .product-aside > a:last-child
    {
        display:none;
    }

    .pricing-container .inner-container
    {
        flex-direction: column;
    }

    .pricing-container .left-container, .pricing-container .right-container
    {
        width:100%;
    }

    .pricing-container .right-container
    {
        flex-direction:row;
    }

    .pricing-container .right-container a
    {
        width:50%;
        height:auto;
    }

    .contact-form .left-container
    {
        width:70%;
    }

    .contact-form .right-container a
    {
        width:30%;
    }
   

    
}

@media only screen and (max-width: 480px)
{

    .right-bar > aside, .desktop-header, .grid-container .item-4, .grid-container .item-6
    {
        display:none;
    }

    .header
    {
        display:flex;
        justify-content: space-between;
    }

    .mobile-list, .mobile-header
    {
        display: block;
        clear:both;

    }

    
    .hamburger-menu .hamburger-section
    {
        display:none;
        margin:0;
        background-color:rgb(182, 182, 182);
        width:100%;
        height:100%;
        position:fixed;
        top:0;
        right:0;

        
       
    }

    .hamburger-menu img
    {
        width:50px;
        height:auto;
        float:right;
        
        
    }

    .hamburger-menu ul
    {
        list-style-type: none;
        padding:0;
        clear:both;
        
    }

    .hamburger-menu li
    {
        text-align:center;
        padding-bottom:50px;

        font-size:20px;
    }

    .mobile-header input
    {
        display:none;
    }

    .mobile-header #hamburger-toggle:checked + .hamburger-section
    {
        display:block;
    }

    .products
    {
        width:100%;
        flex-direction: column-reverse;
    }
    
    .product > article
    {
        float:right;
        width:40%;
    }

    .product > figure
    {
        float:left;
        margin:20px;
    }

    .product figure
    {
        width:40%;
    }

    .grid-container
    {
        grid-template-areas:
        'item-5'
        'item-3'
        'item-2'
        'item-1';
    }

    .product-aside
    {
        grid-template-columns: unset;
        justify-content: center;
    }


    .pricing-container .inner-container
    {
        flex-direction: column;
    }

    .pricing-container .left-container, .pricing-container .right-container
    {
        width:100%;
    }

    .pricing-container .right-container a
    {
        width:50%;
        height:auto;
    }


    .contact-form
    {
        flex-direction: column;
    }

    .contact-form .left-container, .contact-form .right-container
    {
        width:100%;
    }

    input
    {
        height:25px;
    }




}